body{ font-size:1em;}

.content{ width:100%; margin:0 auto;  }
.top { height:auto;}
.top img{ width:100%;}
.input-box{ padding:1em 1em 1em 1em}
.input-box span{ font-size:1em;}
.input-box input{ font-size:1em; width:65% }
.b-link{ font-size:1em;}
.button{ font-size:1.2em}
.spinner-box{ width:10em; height:10em;line-height:8em; font-size:1em }
.spinner{ width:5em; height:5em; }
.container1 > div, .container2 > div, .container3 > div{ width:1em; height:1em}
.font-m{ font-size:1em;}
.icon1{ width:13em; height:13em;}
.icon1 img{ width:100%; height:100%;}

.loginbtn-box button{ width:98%; font-size:1.2em;}

.label-box{padding:1em 0px 1em 1em;}
.label-box span{ font-size:1em;}
.label-box a{ font-size:1em;height:1em; line-height:1.2em;margin-right:1.5em}

#mb_bg{
	filter: alpha(opacity=10);  
    background-color: rgb(255,255,255);  
    background-color: rgba(255,255,255,0.1); 
}
/*pageLoading*/
.loading-logo{ width: 10em; height: auto; margin-left: auto; margin-right: auto; margin-top: 20%;}
.loading-logo img{ width: 100%;}
.sale{ width:2em; height:2em; line-height:2em; font-size:1.5em;}
.buy{ width:2em; height:2em; line-height:2em;font-size:1.5em;}
/*pageSignin*/
#pageSignin .input-box span{ width:5.2em;}
#pageSignin .signin-base{ padding-left:1em;}
#pageSignin .signin-recommended{padding-left:1em;}
#pageSignin .password-div{ padding-left:1em;}
#pageSignin .vcode-send{ height:4em; font-size:1em; line-height:4em}
#pageSignin .input-box input { width:65%;}

#pageXy .message-top{ width:90%; }
#pageXy .message-body div{ height:20em;}



#pageSignin .upload-photo{ width:98%;height:5.2em; font-size:1em; line-height:5.2em; margin-left:auto; margin-right:auto;}


#pageTrade .member_photo{ width:3em; padding-left:1em} 
#pageTrade .member_photo img{ width:3em; } 
#pageTrade .member_info{ width:100%;padding-left:1em;}
#pageTrade .member_money{ width:30%;font-size:1em; padding-top:1em;}
#pageTrade .member_profit{ width:30%;font-size:1em;padding-top:0.5em;}

#pageTrade .menu{ width:100%}
#pageTrade .products-list .i1{ font-size:1em;}
#pageTrade .tools .item{ font-size:1em; height:6em;padding-top:0.8em;}
#pageTrade .menu .item { font-size:1em;}
#pageTrade .menu {height:6.5em; padding-top:0em;}
#pageTrade .products-list .i2 span{ margin-right:0.5em;}
#pageTrade .products-list .i3 span{ margin-left:0.5em;}
#pageTrade .member_money{ padding-left:1em; padding-top:0.5em}


#pageHold .menu{ width:100%;}
#pageHold .hold-list li{ height:9.6em;font-size:0.8em; margin-top:1em; margin-bottom:1em;}
#pageHold .bs-box{ width:25%; height:2em; margin-top:0; line-height:1; float:left;text-align:center; }
#pageHold .bs-box span{ font-size:2em;}
#pageHold .info-box{ width:50%; height:2em; float:left;}
#pageHold .info-box-content{ width:50%; float:left;margin-top:1em; line-height:1.5}
#pageHold .price-box{ width:25%;height:2.5em; line-height:2.5em;  float:left;margin-top:0; text-align:center;  font-size:2em;}
#pageHold .info-box1{ width:60%; height:1em; line-height:3em;float:left; padding-top:0.5em;}
#pageHold .info-box2{ width:40%;height:1em;float:left; text-align:right;padding-top:0.5em;}
#pageHold button{ width:5em;}
#pageHold .tools .item{ font-size:1em; height:6em;padding-top:0.8em;}
#pageHold .menu{ width:100%;}
#pageHold .menu .item { font-size:1em;}
#pageHold .menu {height:6.5em; padding-top:0em;}


#pageAccount .member-fengxian{ width:2.5em; height:1.5em; font-size: 1em; line-height: 1.2em}
#pageAccount .member-fengxian span{ font-size: 0.6em}
#pageAccount .member-photo{ width:1.5em; height:1.5em;}
#pageAccount .member-photo img{ width:1.5em;}
#pageAccount .assets-top{ height:5em;}
#pageAccount .page-title{height:1.5em; line-height:1.5em; font-size:1em;}
#pageAccount .member-profit{ height:2em; line-height:2em;}
#pageAccount .assets-info{ height:4em;}
#pageAccount .assets-info div{ width:33%; height:4em; line-height:1.8em; font-size:1em;}
#pageAccount .assets-info b{ font-size:1em}
#pageAccount .menu{ width:100%;}
#pageAccount .menu .item { font-size:1em;}
#pageAccount .menu {height:6.5em; padding-top:0em;}

#pageGoods .trade_price{ height:10.1em;}
#pageGoods .sale-price{font-size:2em;margin-top:2em;}
#pageGoods .buy-price{ font-size:2em; margin-top:2em;}
#pageGoods .low-price{font-size:1em;margin-top:2em;}
#pageGoods .high-price{font-size:1em;margin-top:2em;}
#pageGoods .trading_money{ height:4.5em;}
#pageGoods .total_money{ margin-left:1em; padding-top:1em;}
#pageGoods .trading_money div{font-size:1em; width:49%;margin-top:0;}
#pageGoods .sale-btn{ position:absolute; right:0.5em; top:10px;}
#pageGoods .buy-btn{ position:absolute; left:10px; top:10px;}

