#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #e2403e;  /* e2403e ef3f22  5970B2 */
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #cd0000} /*  cd0000 49A3FF*/

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #e2403e}/* e2403e ef3f22  5970B2 */

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #202020; /* 202020  2875DE*/
		font: 11px arial}

	#sddm div a:hover
	{	background: #cd0000;/*  cd0000 49A3FF*/
		color: #FFF}