body{ font-size:0.8em;}

.content{ width:100%; margin:0 auto;  }
.top { height:auto; min-height:100px;}
.top img{ width:100%;}
.input-box{ padding:1em 1em 1em 1em}
.input-box span{ font-size:1.2em;}
.input-box input{ font-size:1.2em; width:65%; line-height:normal; }
.b-link{ font-size:1em;}
.spinner-box{ width:10em; height:10em;line-height:8em; font-size:1em }
.spinner{ width:5em; height:5em; }
.container1 > div, .container2 > div, .container3 > div{ width:1em; height:1em}
.font-m{ font-size:1em;}
.icon1{ width:13em; height:13em;}
.icon1 img{ width:100%; height:100%;}

.button{
    padding:0.6em;
    margin-left:auto;
    margin-right:auto;
    font-size:1.5em;
    background:#498DDE;
    color:#fff;
    text-align:center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    border:none;
    width:90%;
    height: auto;
}

.label-box{padding:1em 0px 1em 1em;}
.label-box span{ font-size:1em;}
.label-box a{ font-size:1em;height:1em; line-height:1.2em;margin-right:1.5em}

#mb_bg{
	filter: alpha(opacity=10);  
    background-color: rgb(255,255,255);  
    background-color: rgba(255,255,255,0.1); 
}
.trade-order-box{width: 100%; margin: 0 auto 0 auto;}
.trade-order-box td{ height: 2em; font-size: 0.8em; vertical-align: middle;}/*pageLoading*/
.loading-logo{ width: 10em; height: auto; margin-left: auto; margin-right: auto; margin-top: 20%;}
.loading-logo img{ width: 100%;}
.sell{ width:1.5em; height:1.5em; line-height:1.5em; font-size:1.8em;}
.buy{ width:1.5em; height:1.5em; line-height:1.5em; font-size:1.8em;}

#pageLogin{ width:100%; }
/*pageLoading*/
.loading-logo{ width: 10em; height: auto; margin-left: auto; margin-right: auto; margin-top: 20%;}
.loading-logo img{ width: 100%;}

/*pageSignin*/
#pageSignin .input-box span{ width:5.2em;}
#pageSignin .signin-base{ padding-left:1em;}
#pageSignin .signin-recommended{padding-left:1em;}
#pageSignin .password-div{ padding-left:1em;}
#pageSignin .vcode-send{ height:4em; font-size:1em; line-height:4em}
#pageSignin .input-box input { width:65%;}
#pageSignin .upload-photo{ width:98%;height:5.2em; font-size:1em; line-height:5.2em; margin-left:auto; margin-right:auto;}
/*pageXy*/
#pageXy .message-top{ width:90%; }
#pageXy .message-body div{ height:20em;}




#pageNote1 .message-top{ width:90%; }
#pageNote1 .message-body div{ height:20em;}

#pageNote2 .message-top{ width:90%; }
#pageNote2 .message-body div{ height:20em;}

#pageNote3 .message-top{ width:90%; }
#pageNote3 .message-body div{ height:20em;}



#pageSignin .upload-photo{ width:98%;height:5.2em; font-size:1em; line-height:5.2em; margin-left:auto; margin-right:auto;}


#pageTrade .member_photo{ width:5em; height:4.5em; padding-left:2em}
#pageTrade .member_photo img{ width:4.5em; } 
#pageTrade .member_info{ width:100%;padding-left:0em; padding-top: 1em; padding-bottom:1em;}
#pageTrade .member_money{ font-size:1.4em; margin-top:0em; margin-left:0em; }
#pageTrade .member_profit{ font-size:1.4em;margin-top:0em; margin-left:1.5em;  }

#pageTrade .menu{ width:100%}
#pageTrade .products-list .i1{ font-size:1.4em;  padding:0.8em 0 0.8em 0;}
#pageTrade .products-list .i1 img{ width:50%;}
#pageTrade .tools .item{ font-size:1em; height:5em;padding-top:1em;padding-buttom:1em;}
#pageTrade .tools .item img{ width: 2em; }
#pageTrade .menu .item { font-size:1em;}
#pageTrade .menu { height:4em; padding-top:0em;}
#pageTrade .menu .item img{ width: 2em; height: 2em;}
#pageTrade .products-list .i2{ padding: 0.5em 0 0.5em 0;}
#pageTrade .products-list .i3{ padding: 0.5em 0 0.5em 0;}
#pageTrade .products-list .i2 span{ margin-right:0.5em; }
#pageTrade .products-list .i3 span{ margin-left:0.5em;}
#pageTrade .member_money{ padding-left:1em; padding-top:0em}
#pageTrade .sale{ width: 1.5em; height: 1.5em; line-height: 1.5em; font-size: 1em;}
#pageTrade .buy{ width: 1.5em; height: 1.5em; line-height: 1.5em; font-size: 1em;}

#pageTrade .buy_money{font-size:1.2em}
#pageTrade .sell_money{font-size:1.2em}



#pageHold .hold-list li{ height:9em;font-size:0.95em; margin-bottom:0.5em; margin-top:0.5em }
#pageHold .bs-box{ width:20%; height:2em; margin-top:0; line-height:1; float:left;text-align:center; }
#pageHold .bs-box span{ font-size:2em; margin-top:0.4em }
#pageHold .info-box{ width:50%; height:2em; float:left;}
#pageHold .info-box-content{ width:50%; float:left;margin-top:1em; line-height:1.5}
#pageHold .price-box{ width:30%;height:2.5em; line-height:2.5em;  float:left;margin-top:0; text-align:right;  font-size:2em;}
#pageHold .info-box1{ width:60%; height:2em; line-height:1.5;float:left; padding-top:0.5em; text-indent: 0.5em;}
#pageHold .info-box2{ width:40%;height:2em;float:left; text-align:right;padding-top:0.5em;}
#pageHold .tools .item{ font-size:1em; height:6em;padding-top:0.8em;}
#pageHold .tools .item img{ width: 2em; height: 2em;}
#pageHold .menu{ width:100%;}
#pageHold .menu .item { font-size:1em;}
#pageHold .menu { height:4em; padding-top:0em;}
#pageHold .menu .item img{ width: 2em; height: 2em;}
#pageHold .sell{ width: 1.5em; height: 1.5em; line-height: 1.5em; font-size: 1em; margin-top: 0.2em; }
#pageHold .buy{ width: 1.5em; height: 1.5em; line-height: 1.5em; font-size: 1em;margin-top: 0.2em;}
#pageHold .hold-list-history li{ height:9em;font-size:0.95em; margin-bottom:0.5em; margin-top:0.5em }
#pageHold .hold-list-history > .info-box1{ font-size:1.2em; line-height:1.2em;}
#pageHold .hold-list-history > .info-box-content1 { height:8em; width:100%;}
#pageHold .button{width: 5em;  padding:0.25em; }

#pageAccount .member-fengxian{ width:2.5em; height:1.5em; font-size: 1em; line-height: 1.2em}
#pageAccount .member-fengxian span{ font-size: 0.6em}
#pageAccount .member-photo{ width:1.5em; height:1.5em;}
#pageAccount .member-photo img{ width:1.5em;}
#pageAccount .assets-top{ height:5em;}
#pageAccount .page-title{height:1.5em; line-height:1.5em; font-size:1em;}
#pageAccount .member-profit{ height:2em; line-height:2em;}
#pageAccount .assets-info{ height:4em;}
#pageAccount .assets-info div{ width:33%; height:4em; line-height:1.8em; font-size:1em;}
#pageAccount .assets-info b{ font-size:1em}
#pageAccount .menu{ width:100%;}
#pageAccount .menu .item { font-size:1em;}
#pageAccount .menu { height:4em; padding-top:0em;}
#pageAccount .menu .item img{ width: 2em; height: 2em;}

#pageGoods .trade_price{ height:8.5em;}
#pageGoods .sell-price{font-size:2em;margin-top:1.7em;}
#pageGoods .buy-price{ font-size:2em; margin-top:1.7em;}
#pageGoods .low-price{font-size:1em;margin-top:1em;}
#pageGoods .high-price{font-size:1em;margin-top:1em;}
#pageGoods .trading_money{ height:4.5em;}
#pageGoods .total_money{ margin-left:1em; padding-top:1em;}
#pageGoods .trading_money div{font-size:1em; width:49%;margin-top:0;}
#pageGoods .sale-btn{ position:absolute; right:0.5em; top:10px;}
#pageGoods .buy-btn{ position:absolute; left:10px; top:9.5px;}
#pageGoods .tubiao .time div{ padding-top: 0.5em; padding-bottom: 0.5em;}
#pageGoods .trade-symbolname{ line-height: 2em; font-size:1.5em; background:#fff;}
#pageGoods .menu{ width:100%;}
#pageGoods .menu .item { font-size:1em;}
#pageGoods .menu { height:4em; padding-top:0em;}
#pageGoods .menu .item img{ width: 2em; height: 2em;}
#pageGoods .select{width:50%; display:inline-block;height:30px; margin:0 0 0px 0;  font-size: 3em; position:relative;_filter:alpha(opacity=0);) inset;}
#pageGoods .select:hover{background-color:#F9F9F9; top:0;}
#pageGoods .select label{font-size:0.6em; z-index:5; line-height:normal; height: 1.2em; display: block; margin:0 0 0 0px; color:#000; overflow:hidden;}
#pageGoods .select .select{width:100%; height:1em; line-height:normal; z-index:4;position:absolute;top:0;left:0;margin:0;padding:0;opacity:0; *margin-top:12px; filter:alpha(opacity=0); font-size:0.5em;}
#pageGoods .select{ float:left;}
#pageGoods .del{ width:25%; height:0.6em; line-height:0.5em;font-size:3em; float:left; color:#4B8BE2; overflow:hidden}
#pageGoods .add{ width:25%;height:0.6em;line-height:0.5em;font-size:3em; float:left;color:#4B8BE2; overflow:hidden}



#pageHistory .menu{ width:100%;}
#pageHistory .menu .item { font-size:1em;}
#pageHistory .menu { height:4em; padding-top:0em;}
#pageHistory .menu .item img{ width: 2em; height: 2em;}
#pageHistory .menu .item img{ width: 2em; height: 2em;}


