@charset "utf-8";
/* CSS Document */
body{background-color:#FFF; margin:0px; padding:0px; color:#333; overflow-x:hidden; font-family:Hiragino Sans GB,Microsoft YaHei,"微软雅黑",tahoma,arial,simhei;}
img{border:none;}
li{list-style-type:none;}
ul{padding:0; margin:0;}
p{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, h7{margin:0; padding:0; font-weight:normal;}
input,button,select,textarea{outline:none}

body{ background:#EFEFEF;  }
button{ -webkit-appearance : none ; }
a{ text-decoration:none; color:#498DDE; }
.content{ width:640px; margin:0 auto;  }
#pageLogin{ width:640px; }
.top{ width:100%; height:380px; text-align:center; background:#235A9B;}
.input-box{ border-bottom:1px solid #D6D6D6; padding:30px 0px 30px 30px; background:#fff;}
.input-box span{ font-size:24px;}
.input-box input{ border:none; height:30px; line-height:30px; width:80%;font-size:30px;}
.label-box{ border-bottom:1px solid #D6D6D6; padding:30px 0px 30px 30px; background:#fff;}
.label-box span{ font-size:30px;}
.label-box a{  height:40px; line-height:40px; width:60%;font-size:24px; text-align:right; color:#b0b0b0; text-decoration:none; display:block; float:right; margin-right:30px;}
.loginbtn-box{ margin:15px auto 0 auto; text-align:center;}
.signinandforgot{ color:#4A83D2; text-align:center; margin:200px auto 15px auto;}
.upload-photo { width:638px; height:200px; position:relative; text-align:center; line-height:200px;border:1px solid #efefef; background:#fff; font-size:24px;}
.upload-photo input[type=file]{ opacity:0; top:0px; left:0px; position:absolute; width:100%; height:100%;}

.font-s{ font-size:20px;}
.font-m{ font-size:24px;}
.font-b{ font-size:30px;}
.icon1{ width:301px; height:302px; margin:0 auto; }

button{ margin:0; padding:0; list-style-type:none; border: none;}
.button{  
	padding:15px;
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
	background:#498DDE; 
	color:#fff;
	text-align:center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
	border:none;
	width:90%;
    height: 50px;
}
.button-red{
 background:#DD002B;
}
.hide{ display:none;}
.clear{ clear:both;}
.green{ color:#358643}
.red{ color:#DE002B}
.buy{ width:36px;height:36px;border-radius:100%; color:#235A9B; background-color:#EFEFEF;display:inline-block; text-align:center;line-height:36px; font-size:24px;}
.sale{ width:36px;height:36px;border-radius:100%; color:#fff; background-color:#3E8ADE;display:inline-block; text-align:center;line-height:36px; font-size:24px;}
.sell{ width:50px;height:50px;border-radius:100%; color:#fff; background-color:#3E8ADE;display:inline-block; text-align:center;line-height:50px; font-size:24px;}
.m-link{ font-size:16px;}
.b-link{ font-size:24px;}
.border-left{ border-left:1px solid #D6D6D6;}
.border-right{ border-right:1px solid #D6D6D6;}
.border-top{ border-top:1px solid #D6D6D6;}
.border-bottom{ border-bottom:1px solid #D6D6D6;}
.no-border-left{ border-left:none;}
.no-border-right{ border-right:none;}
.no-border-top{ border-top:none;}
.no-border-bottom{ border-bottom:none;}

.empty-tip { margin-top:2em;}
.empty-tip i{    font-size:8em; color:#999;}

.trade-order-box td{ height: 24px; font-size: 12px;}

/*pageLoading*/

.loading-logo{ width: 282px; height: 111px; margin-left: auto; margin-right: auto; margin-top: 20%;}
.loading-logo img{ width: 100%;}
/*pageLogin*/
.login-box{background:#EFEFEF; width:100%; height:100%; position:absolute; position: absolute;z-index:1; left: 0px; top: 0px; display: none;}



/*pageTrade*/
#pageTrade .mf1{ width:22%; float:left;}
#pageTrade .mf2{ width:39%; float:left;}
#pageTrade .mf3{ width:39%; float:left;}
#pageTrade .member_info{ background:#235A9B; color:#fff; padding-top:12px; padding-bottom:12px; }
#pageTrade .member_photo{ padding-left:40px; float:left; width:97px;}
#pageTrade .member_photo img{ width:97px; border-radius:100%;}
#pageTrade .member_money {  font-size:24px; line-height:1.5;float:left; width:100%; }
#pageTrade .member_profit {  font-size:24px; line-height:1.5;float:left; width:100%;}
#pageTrade .products-list{border-top:1px solid #cfcfcf; }
#pageTrade .products-list .item{ width:33%; float:left; border:1px solid #cfcfcf;background:#FFF; border-left:none; border-top:none;margin-bottom: 1em;  }
#pageTrade .products-list .i1{ width:100%; float:left; text-align:center; font-size:28px;border-bottom:1px solid #cfcfcf; padding:15px 0 25px 0; }
#pageTrade .products-list .i2{ width:50%; float:left; text-align:right;border-right:1px solid #cfcfcf; padding:10px 0 15px 0;}
#pageTrade .products-list .i2 span{ margin-right:18px;}
#pageTrade .products-list .i3{ width:49%; float:left;text-align:left;padding:10px 0 15px 0;}
#pageTrade .products-list .i3 span{ margin-left:18px;}
#pageTrade .tools .item{ width:33%; height:156px; float:left; background:#FFF; text-align:center;font-size:28px;border:1px solid #cfcfcf; padding-top:36px;}
#pageTrade  .menu{ width:640px;}
#pageTrade .menu{ border-top:1px solid #DCDCDC;height:120px; padding-top:15px; background:#EBEBEB;    }
#pageTrade .menu .item{ width:25%;  float:left; text-align:center;font-size:28px; }
#pageTrade .menu .item a{color:#666666; text-decoration:none; }
#pageTrade .menu .item a.active{color:#5194E2; }


/*pageSignin*/
#pageSignin .signin-base{ padding-left:30px; background:#fff;}
#pageSignin .signin-recommended{padding-left:30px; background:#fff;}
#pageSignin .input-box{ padding-left:0px; position:relative;}
#pageSignin .input-box span{ width:125px; display:inline-block; text-align:right;}
#pageSignin .input-box input{ width:70%;}
#pageSignin .vcode-send{ width:200px; height:100px; text-align:center; line-height:100px; display:block; font-size:20px; position:absolute; right:0px; top:0px; border-left:1px solid #CCC; color:#498DDE }
#pageSignin .password-div{ padding-left:30px; background:#FFF;}
#pageSignin .app_download{ width:6em; height:6em; margin-left:auto; margin-right:auto;}
#pageSignin .app_download li i{ font-size:5em;color:#ccc; margin-bottom:15px; margin-top:5px;}
#pageSignin .app_download li{ width:100%; height:6em ;  text-align:center; color:#ccc; background:#F6F6F6;  border:1px solid #CaCaCa; float:left; display:block;-webkit-box-shadow: 1px 1px 1px;  
  -moz-box-shadow: 1px 1px 1px;  
  box-shadow: 1px 1px 1px;  }

/*
#pageXy .message{ width:100%;  position:relative;  }
#pageXy .message-top{ width:571px; height:46px; line-height:46px; margin:0px auto 0 auto; top:16px;  position:relative;   color:#fff; background:#498DDE;  text-align:center; }
#pageXy .message-top-left{ width:15px; height:46px; left:-15px; top:0px;position:absolute;}
#pageXy .message-top-right{ width:15px; height:46px; right:-14px; top:0px; position:absolute;-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
  }
#pageXy .message-body{ width:100%;  background:#FFF; }
#pageXy .message-body div{ margin:20px;font-size:12px; color:#666; height:500px;; overflow:scroll; overflow-x:hidden; line-height:1.5; }
*/
#pageXy .message{ width:100%; height: 80%;  position:relative;  }
#pageXy .content{ height: 100%;}
#pageXy .step0{ height: 100%;}
#pageXy .step1{ height: 100%;}
#pageXy .message-top{ width:571px; height:46px; line-height:46px; margin:0px auto 0 auto; top:16px;  position:relative;   color:#fff; background:#498DDE;  text-align:center; }
#pageXy .message-top-left{ width:15px; height:46px; left:-15px; top:0px;position:absolute;}
#pageXy .message-top-right{ width:15px; height:46px; right:-14px; top:0px; position:absolute;-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
#pageXy .message-body{ width:100%; height: 70%;  background:#FFF; }

#fengxian {
    margin:20px;
    font-size:12px;
    color:#666;
    line-height:1.5;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
    overflow: hidden;

}

#fengxian .scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#xieyi {
    margin:20px;
    font-size:12px;
    color:#666;
    line-height:1.5;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
    overflow: hidden;

}

#xieyi .scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}


#pageNote1 .message{ width:100%;  position:relative;  }
#pageNote1 .message-top{ width:571px; height:46px; line-height:46px; margin:0px auto 0 auto; top:16px;  position:relative;   color:#fff; background:#498DDE;  text-align:center; }
#pageNote1 .message-top-left{ width:15px; height:46px; left:-15px; top:0px;position:absolute;}
#pageNote1 .message-top-right{ width:15px; height:46px; right:-14px; top:0px; position:absolute;-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;}
#pageNote1 .message-body{ width:100%;  background:#FFF; }
#pageNote1 .message-body div{ margin:20px;font-size:12px; color:#666; height:500px;; overflow:scroll; overflow-x:hidden; line-height:1.5; }



#pageNote2 .message{ width:100%;  position:relative;  }
#pageNote2 .message-top{ width:571px; height:46px; line-height:46px; margin:0px auto 0 auto; top:16px;  position:relative;   color:#fff; background:#498DDE;  text-align:center; }
#pageNote2 .message-top-left{ width:15px; height:46px; left:-15px; top:0px;position:absolute;}
#pageNote2 .message-top-right{ width:15px; height:46px; right:-14px; top:0px; position:absolute;-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;}
#pageNote2 .message-body{ width:100%;  background:#FFF; }
#pageNote2 .message-body div{ margin:20px;font-size:12px; color:#666; height:500px;; overflow:scroll; overflow-x:hidden; line-height:1.5; }


#pageNote3 .message{ width:100%;  position:relative;  }
#pageNote3 .message-top{ width:571px; height:46px; line-height:46px; margin:0px auto 0 auto; top:16px;  position:relative;   color:#fff; background:#498DDE;  text-align:center; }
#pageNote3 .message-top-left{ width:15px; height:46px; left:-15px; top:0px;position:absolute;}
#pageNote3 .message-top-right{ width:15px; height:46px; right:-14px; top:0px; position:absolute;-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;}
#pageNote3 .message-body{ width:100%;  background:#FFF; }
#pageNote3 .message-body div{ margin:20px;font-size:12px; color:#666; height:500px;; overflow:scroll; overflow-x:hidden; line-height:1.5; }

/*#pageHold
#pageHold .hold-menu li{ display:inline-block; float:left; width:50%;border-top:1px solid #8B8B8B;border-bottom:1px solid #8B8B8B;}
#pageHold .hold-menu li div{ background:#fff; border-right:1px solid #8B8B8B; text-align:center; font-size:24px; padding-top:15px; padding-bottom:15px;}
#pageHold .hold-list li{ background:#fff;border-top:1px solid #8B8B8B;border-bottom:1px solid #8B8B8B; }
#pageHold .hold-list table{ width:620px; margin:0 auto; font-size:18px;}
#pageHold .hold-list table th{ height:65px; font-size:24px; }
#pageHold .hold-list table td{ height:44px;}
#pageHold .hold-list li .base{ font-size:24px;}
#pageHold .hold-list li .base span{ width:50%; float:left;}
#pageHold .menu{ border-top:1px solid #DCDCDC;height:150px; padding-top:15px; background:#EBEBEB;    }

#pageHold .menu .item{ width:33%;  float:left; text-align:center;font-size:28px; }
#pageHold .menu .item a{color:#666666; text-decoration:none; }
#pageHold .menu .item a.active{color:#5194E2; }
*/

/*#pageHold*/
#pageHold .hold-list li{ width:100%; height:200px; background:#FFF; font-size:24px;}
#pageHold .hold-list-history li{width:100%; height:200px; background:#FFF; font-size:24px; }
#pageHold .item{ width:98%; margin-left:auto; margin-right:auto;}
#pageHold .bs-box{ width:20%; height:118px; float:left;text-align:center; }
#pageHold .bs-box span{ font-size:48px; margin-top:0.8em;}
#pageHold .info-box{ width:50%; height:118px; float:left;}
#pageHold .info-box-content{ width:50%; float:left;margin-top:1em; line-height:1.5}
#pageHold .price-box{ width:30%; height:118px; float:left;margin-top:0em; text-align:right; line-height:118px; font-size:36px;}
#pageHold .info-box1{ width:50%; height:60px; line-height:1.5;float:left; padding-top:0.5em;}
#pageHold .info-box2{ width:50%;height:60px;float:left; text-align:right;padding-top:0.5em;}
#pageHold button{ width:150px;  }
#pageHold .menu{ width:640px;}
#pageHold .menu{ border-top:1px solid #DCDCDC;height:120px; background:#EBEBEB;    }
#pageHold .menu .item{ width:25%;  float:left; text-align:center;font-size:28px; }
#pageHold .menu .item a{color:#666666; text-decoration:none; }
#pageHold .menu .item a.active{color:#5194E2; }
#pageHold .hold-menu{ width:50%; height:2em; line-height:2em; margin:0 auto; padding-top:1em; padding-bottom:0.5em;   }
#pageHold .l-menu{width:50%; float:left; text-align:center;border-radius: 15px 0px 0px 15px;background:#FFF;}
#pageHold .r-menu{width:50%; float:left;text-align:center;border-radius: 0px 15px 15px 0px;background:#FFF;}
#pageHold .hold-menu .hover{ background:#498DDE; color:#FFF;}


/*#pageMemberInfo*/
#pageMemberInfo .member-info{ background:#fff; height:530px; color:#000; padding-top:12px;  }
#pageMemberInfo .member-account{ width:500px; height:130px;float:left;}
#pageMemberInfo .member-photo{ padding-left:40px; float:left; width:97px;height:130px; }
#pageMemberInfo .member-photo img{ width:97px; border-radius:100%;}


/*#pageMoney*/


/*pageForgot*/
#reset_pwd_step1{ padding-left:30px; background:#FFF; }
#reset_pwd_step2{ padding-left:30px; background:#FFF; }

/*pageGoods*/
#pageGoods .trade-symbolname{ text-align:center;}
#pageGoods .trade_price{ height:215px; background:#FFF;}
#pageGoods .trade_buy{ width:49%; float:left; position:relative;}
#pageGoods .trade_sale{ width:49%;float:left; position:relative;}
#pageGoods .buy-price{ text-align:center; font-size:36px; margin-top:80px;}
#pageGoods .sell-price{ text-align:center; font-size:36px;margin-top:80px;}
#pageGoods .low-price{ text-align:center;  font-size:24px;margin-top:40px; }
#pageGoods .high-price{ text-align:center; font-size:24px;margin-top:40px;}
#pageGoods .sale-btn{ position:absolute; right:10px; top:10px;}
#pageGoods .buy-btn{ position:absolute; left:10px; top:10px;}
#pageGoods .trading_number{ background:#FFF;}
#pageGoods .trading_number select{ width:100%; height:24px; border:none;}
#pageGoods .trading_money{ background:#FFF; height:120px;}
#pageGoods .trading_money div{ width:50%; float:left; font-size:24px;  margin-top:25px;}
#pageGoods .tubiao{ background:#FFF;}
#pageGoods .tubiao .time li{ width:20%; height:22px; display:block; float:left; text-align:center;}
#pageGoods .tubiao .time div { width:60px; border-bottom:3px solid #fff; margin-left:auto; margin-right:auto; padding-top:24px; padding-bottom:24px;}
#pageGoods .tubiao .time .hover { border-bottom:3px solid #468DE9;}

#pageGoods .number-select{height:40px; margin:0 0 0px 0; background:#ffffff url(../images/select.png) no-repeat right top; font-size: 14px; position:relative;_filter:alpha(opacity=0);) inset;}

#pageGoods .number-select:hover{background-color:#F9F9F9;}

#pageGoods .number-select label{font-size:16px; z-index:5; line-height: 40px; height: 40px; display: block; margin:0 0 0 15px; color:#666;}

#pageGoods .number-select .select{width:100%; height:40px; line-height:40px; z-index:4;position:absolute;top:0;left:0;margin:0;padding:0;opacity:0; *margin-top:12px; filter:alpha(opacity=0); font-size:16px;}
#pageGoods .menu{ width:640px;}
#pageGoods .menu{ border-top:1px solid #DCDCDC;height:120px; padding-top:15px; background:#EBEBEB;    }
#pageGoods .menu .item{ width:25%;  float:left; text-align:center;font-size:28px; }
#pageGoods .menu .item a{color:#666666; text-decoration:none; }
#pageGoods .menu .item a.active{color:#5194E2; }


/*pageAccount*/
#pageAccount .assets-top{background:#235A9B; color:#fff; height:217px; position:relative; font-size:24px; text-align:center; padding-top:10px;}
#pageAccount .member-fengxian{ width:120px; height:57px; line-height:57px; position:absolute; left:0px; background:#339967; font-size:24px; color:#fff;}
#pageAccount .page-title{ float:left; width:100%; height:57px;line-height:57px;  font-size:24px; text-align:center;}
#pageAccount .member-photo{ width:57px; height:57px; position:absolute; right:20px;}
#pageAccount .member-photo img{ width:60px;border-radius:100%;}
#pageAccount .member-profit{ text-align:center; height:160px; line-height:160px; font-size:36px;}
#pageAccount .assets-info{border-bottom:1px solid #ccc;height:130px; background:#fff;}
#pageAccount .assets-info div{ width:212px; height:100%; text-align:center; border-right:1px solid #ccc; float:left; line-height:50px; font-size:22px;}
#pageAccount .assets-info b{ font-size:24px;}
#pageAccount  .menu{ width:640px;}
#pageAccount .menu{ border-top:1px solid #DCDCDC;height:120px; padding-top:15px; background:#EBEBEB;    }
#pageAccount .menu .item{ width:25%;  float:left; text-align:center;font-size:28px; }
#pageAccount .menu .item a{color:#666666; text-decoration:none; }
#pageAccount .menu .item a.active{color:#5194E2; }


#pageHistory .hold-menu{ width:50%; height:2em; line-height:2em; margin:0 auto; padding-top:1em;   }
#pageHistory .l-menu{width:50%; float:left; text-align:center;border-radius: 15px 0px 0px 15px;background:#FFF;}
#pageHistory .r-menu{width:50%; float:left;text-align:center;border-radius: 0px 15px 15px 0px;background:#FFF;}
#pageHistory  .menu{ width:640px;}
#pageHistory .menu{ border-top:1px solid #DCDCDC;height:120px; padding-top:15px; background:#EBEBEB;    }
#pageHistory .menu .item{ width:25%;  float:left; text-align:center;font-size:28px; }
#pageHistory .menu .item a{color:#666666; text-decoration:none; }
#pageHistory .menu .item a.active{color:#5194E2; }
#pageHistory .hold-menu .hover{ background:#498DDE; color:#FFF;}
#pageHistory .log-list .item{ background:#FFF; width:100%; margin-top:0.5em; margin-bottom:0.5em }
#pageHistory .log-list .item .title{ font-size:1.5em; line-height:2em; float:left; width:50%; text-indent:1em;}
#pageHistory .log-list .item .money{ font-size:1.5em; line-height:2em; float:right; width:30%; text-align:right; margin-right:1em;}
#pageHistory .log-list .item .date{ font-size:1em; line-height:2em; float:left; width:100%;text-indent:1em; color:#999;}


#pageHistory .out-money-log-list .item{ background:#FFF; width:100%; margin-top:0.5em; margin-bottom:0.5em }
#pageHistory .out-money-log-list .item .title{ font-size:1.5em; line-height:2em; float:left; width:50%; text-indent:1em;}
#pageHistory .out-money-log-list .item .money{ font-size:1.5em; line-height:2em; float:right; width:30%; text-align:right; margin-right:1em;}
#pageHistory .out-money-log-list .item .date{ font-size:1em; line-height:2em; float:left; width:100%;text-indent:1em; color:#999;}
#pageHistory .money-log{ overflow:scroll; overflow-x:hidden;}



.spinner-box{
	 width:180px; 
	 height:180px;
	 border-radius: 15px;
	 -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
	 background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;
	  color:#fff;
	  font-size:24px;
	   text-align:center;
	   line-height:150px;
}
.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  left:50px;
  top:30px;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.spinner2 {
 
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  margin-left:auto;
  margin-right:auto;
}
 
.spinner2 > div {
  background-color: #000;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner2 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner2 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner2 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner2 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


